<!DOCTYPE html>
<html>
    <head>
        <title>Web Application</title>
    </head>
    <body>
        <div class="txt-heading">Main menu</div>
        <button onclick="window.location.href='http://localhost:5000/products';">
            Shop
        </button>
        <button onclick="window.location.href='http://localhost:5000/add';">
            Edit Stock (admin only)
        </button>
        <button onclick="window.location.href='http://localhost:5000/logout';">
            Logout
        </button>
    </body>
</html>