<!DOCTYPE html>
<html>
<head>
	<title>e-commerce home site</title>
    <link href="/static/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>


<section class="section">
    <div class="columns">
        <div class="column">
            <h3 class="is-size-3">Product Cart</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>image</th>
                        <th>article name</th>
                        <th>quantity</th>
                        <th>total</th>
                        <th>Purchase</th>
                        <th>Delete all</th>
                        <th>Delete one</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cart in carts %}
                    <tr>
                        <td><img src={{ cart[1] }} width="20"></td>
                        <td>{{cart[0]}}</td>
                        <td>{{cart[2]}}</td>
                        <td>{{cart[3]}}</td>
                        <td>
                            <a href="{{url_for('pur', id=cart[4])}}">Purchase</a>
                        </td>
                        <td>
                            <a href="{{url_for('empty', id=cart[4])}}">Delete</a>
                        </td>
                        <td>
                            <a href="{{url_for('removeitemcart', cart_id=cart[4], item_id=cart[5])}}">Delete</a>
                            
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>

<div class = "orders">
    <button onclick="window.location.href='http://localhost:5000/myorders';">
        My orders
    </button>
</div>



<div id="product-grid">
    <div class="txt-heading">Products</div>

    {% for article in articles %}

        <div class="product-item">
            <form action="/add_to_cart" method="post"  onsubmit="myFunction()" >
                <div class="product-image"><img src= {{ article[4] }} class="product-image2"></div>
                <div class="product-tile-footer">
                    <div class="product-title">{{ article[1] }}</div>
                    <div class="product-price">{{ article[5] }} SEK</div>
                    <div class="cart-action">
                        <input type="hidden" name="product-id" value="{{article[0]}}">
                        <input type="text" class="product-quantity" name="quantity" value="1" size="2" />
                        <input type="submit" value="Add to Cart" class="btnAddAction" />
                    </div>
                    <div class="average">Average Score: {{ article[6] }}</div>
                    <td>
                        <a href="{{url_for('all_reviews', id=article[0])}}">See reviews</a>
                    </td>
                </div>
            </form>
        </div>
        <script>
            function myFunction() {
              alert("Product added to cart");
            }
        </script>

    {% endfor %}
    <a href="{{url_for('home')}}">Start page</a>
</div>
</body>
</html>